<!-- Fixed navbar -->
{{!-- This is a partial --}}
{{!-- If we go with partials for the navbar we need to register it on the handlebars page. --}}
 <nav class="navbar navbar-default navbar-fixed-top">
      <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Trade Jack</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
		  <li><a href="collapsible.html"></a>Home</li>
        <li><a href="sass.html">Login </a></li>
        <li><a href="badges.html">My Posts</a></li>
        <li><a href="collapsible.html"></a></li>
      </ul>
    </div>
  </nav>
   
     <a class="navbar-brand" href="{{ eventurls.main_page_url }}">
    {{#if eventurls.logo_url}}
    <img alt="{{eventurls.name}}" class="logo logo-dark" src="{{  eventurls.logo_url }}">
    {{else}}
    {{ eventurls.name }}
    {{/if}}
    </a>
   </div>
 <div class="navbar-header navbar-right pull-right">
   <ul style="margin-left:20px" class="nav navbar-nav pull-left">
   {{#sociallinks}}
   {{#if show}}
    <li class="pull-left"><a href="{{link}}" style="padding-right:0; padding-left:0;margin-left:15px"><i class="fa fa-lg fa-{{icon}}" aria-hidden="true" title="{{{icon}}}"></i></a></li>
   {{/if}}
   {{/sociallinks}}
   </ul>
 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left:1em;margin-top:1em;">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
 </button>
 </div>
