{{!-- Add search button to search for tasks on the home page --}}
{{!-- Two partials 1 being home page tasks and 2 being userpage --}}
{{!-- This one can be my home page partial --}}

{{!-- This is a card --}}
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src={{link}} alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">Task: {{title}} </span>
                <h6>Location: {{location}}</h6>
                <h6>Intitial Price: ${{initial_price}}</h6>
                <h6>Current Bid: ${{current_bid}}</h6>
                <h6>Bid End Time: {{bid_end_time}}</h6>
            </div>
        </div>
    </div>
</div>


{{!-- This is a card --}}
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src={{link}} alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">Task: {{title}} </span>
                <h6>Location: {{location}}</h6>
                <h6>Intitial Price: ${{initial_price}}</h6>
                <h6>Current Bid: ${{current_bid}}</h6>
                <h6>Bid End Time: {{bid_end_time}}</h6>
            </div>
        </div>
    </div>
</div>
{{!-- This is a card --}}
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src={{link}} alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">Task: {{title}} </span>
                <h6>Location: {{location}}</h6>
                <h6>Intitial Price: ${{initial_price}}</h6>
                <h6>Current Bid: ${{current_bid}}</h6>
                <h6>Bid End Time: {{bid_end_time}}</h6>
            </div>
        </div>
    </div>
</div>
{{!-- This is a card --}}
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src={{link}} alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">Task: {{title}} </span>
                <h6>Location: {{location}}</h6>
                <h6>Intitial Price: ${{initial_price}}</h6>
                <h6>Current Bid: ${{current_bid}}</h6>
                <h6>Bid End Time: {{bid_end_time}}</h6>
            </div>
        </div>
    </div>
</div>
            