{{!-- listing --}}
{{!-- This is a card --}}
<<<<<<< HEAD
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
              {{#each Pictures}}
                <a href=" "><img src={{link}}></a>
                {{/each}}
            </div>
            <div class="card-content">
                <span class="card-title">Task: {{title}} </span>
                <h6>Location: {{location}}</h6>
                <h6>Intitial Price: ${{initial_price}}</h6>
                {{#each Bids}}
                <h6>Current Bid: ${{bid_price}}</h6>
                {{/each}}
                <h6>Bid End Time: {{bid_end_time}}</h6>
            </div>
          </div>
        </div>
      </div>
=======
<div class="col s12 m4">
  <div class="card">
    <div class="card-image">
      {{#each Pictures}}
        <a href=" "><img src={{link}}></a>
        {{/each}}
    </div>
    <div class="card-content">
        <span class="card-title">Task: {{title}} </span>
        <h6>Location: {{location}}</h6>
        <h6>Intitial Price: ${{initial_price}}</h6>
        {{#each Bids}}
        <h6>Current Bid: ${{bid_price}}</h6>
        {{/each}}
        <h6>Bid End Time: {{bid_end_time}}</h6>
        <a href="/task/{{id}}" id="download-button" class="btn-large waves-effect waves-light red">Bid</a>
>>>>>>> d9aaccaafbdfeb471d1377b3b34443de8c7304a1
    </div>
  </div>
</div>
      

{{!-- </div> --}}