

<section id="add" class="container center ">

    <div class="form-wrap">
        <h1>Add A Post</h1>
        <p>Your username will be shared with registered users who reply to your post.</p>

        <div class="input-group title">
            <label for="title">Job Title</label>
            <input type="text" name="title" id="title" class="input-box" placeholder="Mow Lawn, setup modem, etc"
                maxlength="100" value="{{title}}">
        </div>

        <div class="input-grou descriptionp">
            <label for="description">Task Description</label>
            <input type="text" name="description" id="description" class="input-box"
                placeholder="Enter task description" value="{{description}}">
        </div>

        <div class="input-group task_price">
            <label for="price">Price</label>
            <input type="text" name="task_price" id="task_price" class="input-box" placeholder="eg. $100"
                value="{{task_price}}">
        </div>

        <div class="input-field col s12">
            <select id="category">
                <option value="" disabled selected>Choose your category</option>
                <option value="home">Home</option>
                <option value="yard & garden">Yard and Garden</option>
                <option value="deliver">Delivery</option>
                <option value="personal care">Personal Care</option>
                <option value="tech support">Tech Support</option>
            </select>
            <label>Materialize Select</label>
        </div>


        <div class="input-group location">
            <label for="Location">Location</label>
            <input type="text" name="location" id="location" class="input-box" placeholder="Seattle" maxlength="30"
                value="{{location}}">
        </div>

        <div class="input-group bid_end_time">
            <label for="bid close date">Bid Close Date</label>
            <input type="date" name="bid_end_time" id="bid_end_time" class="input-box" placeholder="02-05-20"
                value="{{bid_end_date}}">
        </div>

        <div class="input-group task_start">
            <label for="Desired Start Date">Desired Start Date</label>
            <input type="date" name="task_start" id="task_start" class="input-box" placeholder="02-10-20"
                value="{{task_start}}">


            <input type="submit" class="btn btn-reverse" id="submitBtn">
            <br><br><br>
        </div>
        {{!-- IMG UPLOAD BUTTON HERE --}}

        <label class="file-upload-container btn btn-reverse" for="file-upload">
            <input id="file-upload" type="file" style="display:none">
            Select an Image
        </label>

        <script>
            $(document).ready(function () {
                $('select').formSelect();
            });
        </script>
    </div>

</section>

<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->
<script src="js/addTask.js"></script>
<script src="js/addImg.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- RENDER TEMPLATE AFTER EVERYTHING ELSE LOADED -->






