
<section id="posts" class="container">
    <h1>All Posts</h1>

    {{#each posts}}
    <div class="post">
        <h3>{{user_name}}</h3>
        <p>{{user_post}}</p>
        <p>{{task}}</p>
         <p>{{price}}</p>
    </div>
    {{else}}
    <p>No posts available</p>
    {{/each}}

</section>

{{!-- top or bottom --}}

<section id="posts" class="container">
    <h1>All Posts</h1>

    {{#each posts}}
    <div class="post">
        <h3>{{user_name}}</h3>
        <p>{{User_post}}</p>
        <ul>
            <li>Description: <span>{{description}}</span></li>
            <li>Price: {{price}}</li>
        </ul>

        <button data-id="{{this.id}}" class="delquote">Delete</button>

    </div>
    {{else}}
    <p>No gigs available</p>
    {{/each}}
